.frame
  position: absolute
  left: 510px
  right: 0
  top: 250px
  height: 320px
  z-index: 1


.reel1
  position: absolute
  top: 250px
  left: 560px
  z-index: 0
  max-height: 300px
  overflow: hidden

.reel2
  position: absolute
  top: 250px
  left: 780px
  z-index: 0
  max-height: 300px
  overflow: hidden

.reel3
  position: absolute
  top: 250px
  left: 1000px
  z-index: 0
  max-height: 300px
  overflow: hidden
