<div class="reel">
  <img class="frame" src="./assets/blank-slot.png">
  <app-lines></app-lines>
  <div class="reel1 m-1">
    <img class="row" *ngFor="let image of reel1List" [src]="image.src">
  </div>
  <div class="reel2 m-1">
    <img class="row" *ngFor="let image of reel2List" [src]="image.src">
  </div>
  <div class="reel3 m-1">
    <img class="row" *ngFor="let image of reel3List" [src]="image.src">
  </div>

  <div class="statsbar">
    <div class="row" style="height: 100px;">
      <button mat-raised-button color="accent" [disabled]="!Settings.getCanSpin()"  class="col-2 ml-4" style="float: left; margin: 8px" (click)="spin()">SPIN</button>
      <div class="col-4">
        <h2 class="mt-1 balance">Your balance: {{Settings.getBalance()}}</h2>
        <h2 class="blinking" *ngIf="Settings.getTempWinBal() !== 0">You won {{Settings.getTempWinBal()}} credits</h2>
      </div>
      <button mat-raised-button color="accent" class="col-2 " style="float: right; margin: 8px" (click)="newGame()">NEW GAME</button>
      <button mat-raised-button color="accent" class="col-2" style="float: right; margin: 8px" (click)="openDebug()">DEBUG</button>
    </div>
  </div>
</div>
